

@media (max-width:767px) {}


@media (max-width:767px) {
    .home-elem-1 {
        background-position: 0% 0%, 0% 0%, 0% 0%;
        background-size: auto auto, auto auto, auto auto
    }

    .home-elem-137 {
        position: relative
    }

    .home-elem-128 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-132 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-130 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-131 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-129 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-133 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-3 {
        padding: 100px 0px 0px 0px
    }

    .home-elem-4 {
        font-size: 26px;
        line-height: 36px
    }

    .home-elem-5 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-51 {
        font-size: 25px;
        line-height: 35px
    }

    .home-elem-52 {
        font-size: 16px;
        line-height: 26px
    }

    .home-elem-58 {
        border-width: 0px 0px 0px 0px
    }

    .home-elem-63 {
        border-width: 0px 0px 0px 0px
    }

    .home-elem-68 {
        border-width: 0px 0px 0px 0px
    }

    .home-elem-73 {
        border-width: 0px 0px 0px 0px
    }

    .home-elem-78 {
        border-width: 0px 0px 0px 0px
    }

    .home-elem-95 {
        flex-direction: column
    }

    .home-elem-92 {
        font-size: 18px;
        line-height: 28px
    }

    .home-elem-11 {
        font-size: 25px;
        line-height: 35px
    }

    .home-elem-49 {
        font-size: 36px;
        line-height: 46px
    }

    .home-elem-126 {
        flex-direction: column
    }

    .home-elem-109 {
        padding: 32px 32px 32px 32px
    }

    .home-elem-89 {
        padding: 20px 16px 0px 16px
    }
}


@media (max-width:767px) {}


@media (max-width:767px) {
    .linkedDiv76tL-elem-1 {
        flex-direction: column
    }

    .linkedDiv76tL-elem-3 {
        font-size: 18px;
        line-height: 28px
    }
}


@media (max-width:767px) {
    .linkedSectionJ0HD-elem-2 {
        font-size: 36px;
        line-height: 46px
    }

    .linkedSectionJ0HD-elem-47 {
        flex-direction: column
    }

    .linkedSectionJ0HD-elem-30 {
        padding: 32px 32px 32px 32px
    }
}